.accordion {
    margin: 70px 0 170px;
    box-shadow: 0 16px 22px $colour-tab-shadow;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.accordion>.card>.card-header {
    background: white;
    & .btn-link {
        color: $colour-primary;
        padding: 0;
    }
}

.card {
    border-radius: 10px 10px 0 0;
    &:last-of-type {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    & .collapse.show {
        border-top: 2px solid $colour-primary;
    }
}

.card-body {
    background: $colour-bg-card;
    & img {
        width: 100%;
    }
    & .tab__social-media {
        margin-top: 20px;
        color: $colour-font-header;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}