.product {
    background-color: white;
    border-radius: 15px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 6px 10px #D1D1D1;
    & .card-body {
        background: white;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 30px;
    }
}

.card-img,
.card-img-top {
    max-width: 100%;
}

.product .btn {
    width: 100%;
    height: 46px;
    text-transform: uppercase;
    background: $colour-primary;
    border: none;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    line-height: 33px;
    &:hover {
        background: lighten($colour-primary, 15);
    }
    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 32px;
        height: 100%;
        background: $colour-secondary;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}