.main--contact .container {
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $tablet-width) {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.info {

    & .info__item {
        display: flex;
        margin-top: 30px;
    }

    & .fa {
        color: $colour-secondary;
        text-align: center;
        width: 32px;
        height: 30px;
        margin-right: 20px;
    }

    & .info__item--address .address {
        display: flex;
        flex-direction: column;
    }
}