$colour-primary: #E92569;
$colour-secondary: #767676;
$colour-body: radial-gradient( circle at center, #FFFFFF, #E5E5E5);
$colour-bg-header: #EFEFEF;
$colour-font-header: #0A0A0A;
$colour-footer-text: #8D8D8D;
$colour-tab-shadow: #D1D1D1;
$colour-bg-card: radial-gradient( circle at center, #FFFFFF, #F5F5F5);

$body-font-family: "Lato", sans-serif;
$heading-font-family: 'Playfair Display',serif;

$tablet-width: 992px;